<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>轩辕秘境</title>
	<link rel="shortcut icon" href="__PUBLIC__/image/favicon.ico">
	<script src="__PUBLIC__/jquery/jquery.min.js"></script>
	<link href="__PUBLIC__/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- include libraries(jQuery, bootstrap, fontawesome) -->
	<link rel="stylesheet" href="__PUBLIC__/font-awesome-4.2.0/css/font-awesome.min.css" />

	<block name="summernote">
		<!-- include summernote css/js-->
		<link href="__PUBLIC__/dist/css/summernote.css" rel="stylesheet">
		<script src="__PUBLIC__/dist/js/summernote.min.js"></script>
		<script src="__PUBLIC__/dist/js/summernote-zh-CN.js"></script>
		
	</block>
	<link href="__PUBLIC__/pagecss/Common/page.css" rel="stylesheet">
	<link href="__PUBLIC__/pagecss/Common/head-navbar.css" rel="stylesheet">
	<link href="__PUBLIC__/pagecss/Common/side-nav.css" rel="stylesheet">
	<link href="__PUBLIC__/pagecss/Common/tags.css" rel="stylesheet">
	<script src="__PUBLIC__/pagejs/Common/questionpage.js"></script>
	<script src="__PUBLIC__/pagejs/Common/page.js"></script>
	<block name="injectedcss"></block>
	<block name="injectedjs"></block>
</head>
<body class="harveyprince">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="nav-brand navbar-brand" href="#"><span class="pageicon icon-head-page-mini top-nav-place"></span></a>
				<form action="{:U('__ROOT__/Question/Index/Search')}" class="search-form" style="width:367px;">
					<input name="search-key" type="text" class="form-control" placeholder="Search...">
					<button type="submit" class="magnify-button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</form>
				<button link-address="{:U('__ROOT__/Question/Index/toSubmitQuestion')}" class="top-add-question to-submit-question">提问</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{:U('__ROOT__/Question/Index/index')}">首页</a></li>
					<li><a href="{:U('__ROOT__/Question/Index/help')}">帮助</a></li>
				</ul>
			</div>
			<div class="nav-profile">
				<if condition="$Think.session.harvey_user_id gt 0">
					<a href="" class="nav-userinfo">
						<span class="name">{:W('Question/getUserNameBySession')}</span>
						<img class="avatar" src="{:W('Question/getUserHeadIconBySession')}">
					</a>
					<u1 class="top-nav-dropdown nav">
						<li><a href="{:U('__ROOT__/User/index')}"><span class="glyphicon glyphicon-home icon-nav"></span>主页</a></li>
						<!-- <li><a href="#"><span class="glyphicon glyphicon-envelope icon-nav"></span>私信</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-cog icon-nav"></span>设置</a></li> -->
						<li class="divider"></li>
						<li><a href="{:U('__ROOT__/User/Index/Logout')}"><span class="glyphicon glyphicon-off icon-nav"></span>退出</a></li>
					</u1>
					<else/>
					<a href="" data-target="#loginModal" data-toggle="modal" class="nav-userinfo">
						<span class="name">登录/注册</span>
					</a>
					<!-- Button trigger modal -->
				</if>
			</div>
		</div>
	</nav>
	<!-- header end -->
	<if condition="!($Think.session.harvey_user_id gt 0)">
		<!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">登录/注册</h4>
					</div>
					<div class="modal-body loginmodal">
						<span class="form-label">登录时无需填写姓名</span>
						<div class="box login active top-nav-login-modal">
							<form class="signup-box">
								<input id="signup_surname" autocomplete="off" arja-haspopup="true" type="text" value class="form-text-input signupfirstname" placeholder="姓氏"></input>
								<input id="signup_purename" autocomplete="off" arja-haspopup="true" type="text" value class="form-text-input required signupname" placeholder="名称"></input>
								<input id="email" autocomplete="off" arja-haspopup="true" type="email" value class="form-text-input required verticaldown" placeholder="邮箱"></input>
								<input id="password" autocomplete="off" arja-haspopup="true" type="password" value class="form-text-input required verticaldown" placeholder="密码"></input>
								<div class="alarmbox"></div>
								<a href="javascript:void(0);" url="__ROOT__/User/Index/signupController" class="button-more btn-regist top-nav-modal-button">注册</a>
								<a href="javascript:void(0);" url="__ROOT__/User/Index/loginController" class="button-more btn-login top-nav-modal-button">登录</a>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default modal-cancel" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</if>
	<block name="content"></block>

	<div style="right: 400px; display: block;" class="back-to" id="toolBackTop">
		<a title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top pageicon"></a>
	</div>
	<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</body>
</html>