<div class="item-comment clearfix">
	<a href="{:U('__ROOT__/User/Index/userpage/user/'.$comment['author_id'])}" class="item-link-avatar">
		<img class="list-avatar" src="{:W('User/getUserHeadIcon',array($comment['author_id']))}">
	</a>
	<div class="comment-content-wrap">
		<div class="comment-hd">{:W('User/getUserNameByID',array($comment['author_id']))} <?php if($comment['replyer_id']!=-1){echo "回复 ".W('User/getUserNameByID',array($comment['replyer_id']));} ?>:</div>
		<div class="comment-content">
			{$comment['content']}
		</div>
	</div>
	<div class="meta-panel">
		<span class="meta-item stamp">
			<span class="glyphicon glyphicon-dashboard"></span>
			<?php echo date("Y-m-d H:i:s",$comment['time']) ?>
		</span>
		<if condition="$Think.session.harvey_user_id gt 0">
			<span class="minicomment">
				<a href="javascript:;" onclick="show_comment_mini_box(this)" name="addcomment" class="meta-item stamp">
					<span class="glyphicon glyphicon-comment"></span>
					回复
				</a>
			</span>
		</if>
	</div>
	<if condition="$Think.session.harvey_user_id gt 0">
		<div class="comment-form expanded clearfix minibox">
			<div class="comment-edit-wrap commentupbox" contentEditable="true" onfocus="comment_box_focus(this)"></div>
			<div class="command clearfix">
				<button href="javascript:;" url="{:U('__ROOT__/User/Index/submitComment')}" target-word-id="{$comment['word_id']}" target-author-id="{$comment['author_id']}" class="top-add-question submit-comment-button" style="float:right;" onclick="submitcomment(this)">评论</button>
				<span class="command-cancel">
					<a href="javascript:;" onclick="command_mini_cancel(this)" class="">取消</a>
				</span>
			</div>
		</div>
	</if>
</div>